# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Assets (optional: ignore heavy files like sounds)
assets/sounds/
assets/videos/

# Build / dist
build/
dist/

# Jupyter (if you ever use)
.ipynb_checkpoints/